.DS_Store
*~
*.orig
*.bak
release.properties
run
target
tmp
.eclipse
.project
.classpath
.settings
ttt-ttpe/src/test/fonts/LateefRegOT.ttf
ttt-ttpe/src/test/fonts/ScheherazadeRegOT.ttf
ttt-ttpe/src/test/fonts/simpo.ttf
ttt-ttpe/src/test/fonts/trado.ttf
