<?xml version="1.0" encoding="utf-8"?>
<config version="1" xmlns="http://skynav.com/ns/ttv">
<option name="add-creation-metadata">true</option>
<option name="default-alignment">中頭</option>
<option name="default-kerning">1</option>
<option name="default-language">jp</option>
<option name="default-placement">横下</option>
<option name="default-region">横下</option>
<option name="default-shear">0</option>
<option name="merge-styles">true</option>
<option name="style-id-pattern">s{0}</option>
<option name="style-id-sequence-start">1</option>
<tt xmlns="http://www.w3.org/ns/ttml" xmlns:tts="http://www.w3.org/ns/ttml#styling">
<head>
<styling>
<initial tts:fontSize="4vh"/>
<initial tts:lineHeight="5vh"/>
<initial tts:showBackground="whenActive"/>
</styling>
<layout>
<region xml:id="横下" tts:writingMode="lrtb" tts:extent="80vw 15vh" tts:position="center bottom 10vh" tts:displayAlign="after"/>
<region xml:id="横上" tts:writingMode="lrtb" tts:extent="80vw 15vh" tts:position="center top 10vh" tts:displayAlign="after"/>
<region xml:id="横適" tts:writingMode="lrtb" tts:extent="80vw 80vh" tts:position="center" tts:displayAlign="justify"/>
<region xml:id="横中" tts:writingMode="lrtb" tts:extent="80vw 15vh" tts:position="center" tts:displayAlign="after"/>
<region xml:id="縦右" tts:writingMode="tbrl" tts:extent="15vw 80vh" tts:position="right 10vw center" tts:displayAlign="before"/>
<region xml:id="縦左" tts:writingMode="tbrl" tts:extent="15vw 80vh" tts:position="left 10vw center" tts:displayAlign="after"/>
<region xml:id="縦適" tts:writingMode="tbrl" tts:extent="80vw 80vh" tts:position="center" tts:displayAlign="justify"/>
<region xml:id="縦中" tts:writingMode="tbrl" tts:extent="15vw 80vh" tts:position="center" tts:displayAlign="center"/>
</layout>
</head>
</tt>
</config>
